---
// Importar estilos globales
import "../styles/global.css";
import Footer from "../components/ui/Footer/Footer.astro";
import { ClientRouter } from 'astro:transitions';

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "MUGA - Arquitectura Web de Nueva Generación",
  description = "Desarrollo de sitios web modulares, rápidos y eficientes con Astro, TailwindCSS y TypeScript. KPIs medibles garantizados.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/logo/logo.png" />
    <ClientRouter />
  </head>
  <body >
    <main>
      <slot />
    </main>
    <Footer />  
  </body>
</html>
